[package]
name = "solbeast-dev-fee"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
solana-program = "2.1.1"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
overflow-checks = false
strip = true

[features]
no-entrypoint = []
